
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cian O Mahony</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <img id="headshot" src="images/github.jpg" alt="Mountain View">
        <h1>Cian O Mahony</h1>
        <p class="lead">University College Cork</p>
        <a href="/coding"><button type="button" class="btn btn-primary btn-coding">Coding</button></a>
        <a href="/design"><button type="button" href="/design" class="btn btn-primary btn-design">Design</button></a>
        <a href="images/cvtech.pdf"><button type="button" href="images/cvtech" class="btn btn-primary btn-cv">CV</button></a>
      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
